.navbarWrapper{
    position: fixed;
    top : 0;
    left: 0;
    width : 100vw;
    height : 6.8rem;
    z-index: 1;
    transition: all .5s ease-in-out;
}

.navbar{
    height: 100%;
    width : 100%;
    padding : 0 5rem;
    margin : 0 auto;
    // border : 1px solid red;
}

.backdrop{
    background-color: #000;
}